a {
  color: #3bd0c2;
}

main {
  padding-left: 240px;
}

.App-header {
  position: fixed;
  top: 0;
  left: 0;
}

.App-footer {
  display: block;
  text-align: center;
  color: #f95a60;
  margin: 20px 0;
}

.App-footer a.coder {
  color: #f95a60;
  text-decoration: none;
}

.App-footer a.coder:hover {
  font-weight: bold;
}

.App-footer svg {
  margin: 0 5px;
}

.App-book {
  max-width: 200px;
  margin: 20px 20px;
}

.Results {
  color: grey;
  margin: 10px auto;
}

.partOfSpeech {
  color: #f95a60;
}

.searchWord {
  color: black;
  font-size: 48px;
}
