a {
  color: #3bd0c2;
}

.App-footer {
  margin: 30px;
  color: #f95a60;
}

.App-book {
  max-width: 200px;
  margin: 20px 20px;
}

.Results {
  color: grey;
  margin: 10px auto;
}

.partOfSpeech {
  color: #f95a60;
}

.searchWord {
  color: black;
  font-size: 48px;
}
